body{
 margin-top: 0px;
}
#my-admin-content{
	padding-left: 5%;
	padding-right: 5%;
	font-family: Sans-Serif;
	color: black;
	min-height: 600px;
}
.left-align{
	text-align: left;
}

.right-align{
	text-align: right;
}

.col-50{
	width: 50%;
}

.col-40{
	width: 40%;
}
.col-33 {
	width: 33.33%;
	float: left;
}

.search-field{
	float: left;
	padding-right: 4%;
	padding-left: 4%;
}

.clear-float{
	clear: both;
}

.title {
	background: #d9d9d9;
	padding: 10px 20px;
	margin-bottom: 20px;
	margin-left: -50px;
}
