/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2016, 1:08:28 PM
    Author     : MINH
*/

.content{
    padding:20px 0px 20px 18px; 
    display: block;
    float: left;
    width: 98%;
    min-height: 300px;
}

.box_member{
    border: graytext 1px solid;
    padding: 5px;
    float: left;
    width: 31%;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    overflow: hidden;
}
.box_member img{
    float: left;
    border-radius: 10px;
    margin-right: 5px;
}
.box_member img:hover{
    opacity: 0.8;
}
.content input{
    border-radius:5px;
    border: solid #000 1px;
    border-bottom: solid #000 2px; 
    height: 32px;
    float: right;
    padding: 3px 10px;
    margin-right: 10px;
}
.content input:hover{
    border-radius: 5px;
}
.content .submit{
    height: 30px;
    padding: 5px 10px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    background-color: #58A942;
}
.content .submit:hover{
    background: #519839;
}
ul.list_member{
    display: block;
    float: left;
    padding: 0px;
    width: 100%;
}

.pagination{
    float: left;
    list-style-type: none;
    display: block;
    border:#337AB7 solid 1px;
    padding: 0;
    margin: 0 0 0 38%;
}
.pagination a{
    text-decoration: none;
    color: #337AB7;
    padding: 5px 15px;
    float:left;
    display: block;
    border-left: #337AB7 solid 1px;

}
.pagination li{
    float:left;

}
.pagination li:hover{
    background: #337AB7;
}
.pagination a:hover{
    color:#fff;
}
.next a{
    border-left: #337AB7 solid 1px;
}
.prev a{
    border: none;
}

.disabled{
    padding: 5px 15px;
    cursor: not-allowed;
}
li.disabled:hover{
    background: #fff;
}
.active{
    background: #337AB7;

}
.active a{
    color: #fff;
    cursor: default;
}

