/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2016, 4:49:33 PM
    Author     : MINH
*/

.content{
    padding:0; 
    display: block;
    float: left;
    width: 100%;
}

.content .box_img{
    width: 100%;
    display: block;
    position: relative;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.cover_photo{
    width: 100%;
    border-bottom: 3px solid #ADA9A9;
}
.box_avatar{

}
.avatar{
    border-top: 2px solid #ADA9A9;
    border-left: 2px solid #ADA9A9;
    border-right: 2px solid #ADA9A9;

    width: 20%;
    display: block;
    bottom: 2px;
    position: absolute;
    left:10%;
    z-index: 1;
}
.name{
    font-weight: bold;
    font-size:20px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 32%;
    color:#fff;
}

.box_profile{
    padding:20px 30px 30px 40px;
    border: 1px solid #000;
}
table{
    width: 100%;



}
table input{
    width: 90%;
    border: 0;
    height: 25px;
    border-radius: 3px;
    padding-left: 10px;
}
table input:hover{
    background: #D6DADC;
    cursor: pointer;

}

.submit{
    width: 20%;
    height: 50px;
    background: #58A942;
}
.submit:hover{
    background: #519839;
    border: 0;
}
.box_photos{
    padding: 20px 40px;
    display: block;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.photo{
    margin: 2px;
    border: 2px gray solid;
    float: left;
    width: 49%;
}


